:root {
    --red-color: red;
    --background-color: skyblue;
    --darkblue-color: darkblue;
    --white-color: white;
    --lightgreen-color: lightgreen;

    body {
        background-color: var(--background-color);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25vw 1fr 100px;
        grid-template-areas: 
                    "head"
                    "main"
                    "footer";
    
        .head {
            grid-area: head;
            align-items: center;
            width: 100%;
            background-color: var(--background-color);
            top:0;

            .title {
                grid-area: head;
                font-size: 3vw;
                font-family: Arial, sans-serif;
                text-align: center;
                color: var(--white-color);
            }
            .navbar {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin:2.5vw;

                .navlink {
                    font-size: 2.4vw;
                    font-family: Arial, sans-serif;
                    color: var(--white-color);
                    text-decoration: none;
                    margin: 1.3vw;
                    display: inline-block;
                    transition: transform 0.3s ease, color 0.3s ease;
                }
                .navlink:hover {
                    transform: scale(1.2);
                    color: var(--lightgreen-color);
                }
            }
        }
        .main {
            grid-area: main;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 2.2vw;
            font-family: Arial, sans-serif;
            

            .messipicture {
                border-radius: 30px;
                margin-top: 2vw;
                width: 40vw;
                height: auto; 
                text-align: center;
            }
            .vereine {
                border-radius: 30px;
                width: 30vw;
                height: auto; 
                text-align: center;
            }
            .vereine2 {
                border-radius: 30px;
                width: 30vw;
                height: auto;
                text-align: center;
            }
            #NOB {
                font-size: 2.2vw;
                color: var(--darkblue-color);
                margin: 6vw;
            }
            .input {
                width: 40vw;
                height: 25px;
                border-radius: 10px;
            }
            .input-submit {
                width: 100px;
                height: 25px;
                border-radius: 10px;
            }
            .maps-stadiums {
                width: 60vw;
                height: 60vh;
            }
            
        }
        .footer {
            grid-area: footer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            color: var(--red-color);
            font-size: 3vw;
        }
        .messivideo {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .messivideo #video { 
            width: 70vw;
            height: 40vh;  
        }
        main {

            h2:first-child {
                font-size: 45px;
                color: var(--darkblue-color);
            }
        }
    }
    .body-achievements {
        background-color: var(--background-color);
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 25vw 1fr 100px;
        grid-template-areas: 
                    "head head"
                    "main aside"
                    "footer footer";
        .head {
            grid-area: head;
            align-items: center;
            width: 100%;
            background-color: var(--background-color);
            top:0;

            .title {
                font-size: 3vw;
                font-family: Arial, sans-serif;
                text-align: center;
                color: var(--white-color);
            }

            .navbar {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 2vw;

                .navlink {
                    font-size: 2.225vw;
                    font-family: Arial, sans-serif;
                    color: var(--white-color);
                    text-decoration: none;
                    margin: 1.3vw;
                    display: inline-block;
                    transition: transform 0.3s ease, color 0.3s ease;
                }
                .navlink:hover {
                    transform: scale(1.2);
                    color: var(--lightgreen-color);
                }
            }
        }
        .achievements-main {
            grid-area: main;
            display: flex;
            gap: 40px;
            padding: 5px;
            flex-direction: column;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.2vw;

            h2 {
                font-size: 3vw;
                color: var(--darkblue-color);
            }

            .tbl-h {
                border-collapse: collapse;
            }
            .tbl-h th, .tbl-h td {
                border: 1px solid black;
                padding: 10px;
                background-color: var(--white-color);
            }
        }
        .avmAside {
            grid-area: aside;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 0 auto;

                .messipictureAchievements {
                    border-radius: 30px;
                    margin-top: 30vh;
                    width: 30vw;
                    height: auto;
                }
                .CampNou {
                    border-radius: 30px;
                    margin-top: 30vh;
                    width: 250px;
                    height: auto;
                }
        }
        .footer {
            grid-area: footer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            color: var(--red-color);
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 900px) {
    .navlink {
        font-size: 2.7vw !important;
    }

    .body .head .title {
        font-size: 4vw !important;
    }

    .messipicture {
        width: 60vw !important;
    }

    .footer {
        font-size: 2vw !important;
    }

    .vereine, .vereine2 {
        width: 40vw !important;
    }

    .avmAside .CampNou {
        width: 30vw !important;
    }
}

@media  screen and (max-width: 450px) {
    .messivideo {
        margin-top: 20px;
    }

    .input {
        height: 17px !important;
    }

    .navlink {
        font-size: 2.6vw !important;
    }
}